%h1= "#{t :edit_menu}:"

= render partial: 'meals/courses', collection: @facade.courses, locals: {facade: @facade}

= render partial: 'meals/form', locals: { menu: @facade.menu, meal: @facade.new_meal }

= link_to "#{t :done}", menu_path(@facade.menu)
