<h1>Menu for <%= @facade.menu.day_stamp %></h1>
<h2>Orders:</h2>
<ul>
  <%= render partial: 'menus/order', collection: @facade.orders %>
</ul>
<%= render partial: 'orders/form'%>
<h2>Meals:</h2>
<%= render partial: 'menus/meal', collection: @facade.meals %>
<%= render partial: 'meals/form'%>
<%= link_to 'Edit', edit_menu_path(@facade.menu) %> | <%= link_to 'Delete', menu_path(@facade.menu), method: :delete %><br>
<%= link_to 'Dashboard', menus_path %>
