<h1>Menu for <%= @menu.created_at.strftime('%A') %>, <%= @menu.created_at.day %>th of <%= @menu.created_at.strftime('%B') %></h1>

<h2>Meals:</h2>
<%= render partial: 'menus/meal', collection: @menu.meals %>
<%= render partial: 'meals/form' %>

<%= link_to 'Edit', edit_menu_path(@menu) %> | <%= link_to 'Delete', menu_path(@menu), method: :delete %><br>
<%= link_to 'Dashboard', menus_path %>
