%h1= "Menu for #{@facade.menu.day_stamp}"
%h2= t('views.menus.orders')

%ul
  = render @facade.orders

%p= "#{t('views.menus.total_cost')}: #{@facade.total_cost}"

= render 'orders/form', order: @facade.new_order

= link_to t('views.menus.add_meals'), edit_menu_path(@facade.menu)
%br
= link_to t('views.menus.delete'), menu_path(@facade.menu), method: :delete
%br
= link_to t('views.menus.dashboard'), menus_path
