%h1= "Menu for #{@facade.menu.day_stamp}"
%h2 Orders:
%ul
  = render @facade.orders

= render 'orders/form'

= render @facade.meals

= link_to 'Add meals!', edit_menu_path(@facade.menu)
%br
= link_to 'Delete', menu_path(@facade.menu), method: :delete
%br
= link_to 'Dashboard', menus_path
