%h1 Select your meals for today
= form_for [menu, order] do |f|
  = f.label :first_course
  = render partial: 'meals/meal', collection: first_course
  %br
  = f.label :main_course
  = render partial: 'meals/meal', collection: main_course
  %br
  = f.label :beverage
  = render partial: 'meals/meal', collection: beverage
  %br

  %p= f.submit 'Submit'
