%h1= t('views.orders.select_meals')
= form_for [order.menu, order] do |f|
  .row
    .medium-6.column
      = f.fields_for :order_items do |oif|
        = oif.select :meal_id, options_from_collection_for_select(oif.object.meals_for_select, :id, :name), prompt: t('views.orders.meal')
      = f.submit class: 'button expand'

