%li= "Order for #{order.stamp}:#{render partial: 'orders/meal', collection: order.meals} | #{link_to "#{t :edit_order}", edit_menu_order_path(order.menu, order)} | #{link_to "#{t :delete_order}", menu_order_path(order.menu, order), method: :delete} "
