%p
  = render partial: 'orders/form', locals: { order: @order }

= link_to "#{t :delete_order}", menu_order_path(@order.menu, @order), method: :delete
%br
= link_to "#{t :back}", menu_path(@order.menu)
