<h3>Add a meal to the menu</h3>
<%= form_for [ @facade.menu, @facade.new_meal ] do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :course %><br/>
    <%= f.radio_button :course, "First Course", checked: true %>
    <%= f.label :first_course, "First Course" %>
    <%= f.radio_button :course, "Main Course" %>
    <%= f.label :main_course, "Main Course" %>
    <%= f.radio_button :course, "Beverage" %>
    <%= f.label :beverage, "Beverage" %>
  </p>
  <p>
    <%= f.label :price %><br/>
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
