%h3= t('views.meals.add')
= form_for [menu, meal] do |f|
  .row
    .medium-6.column
      = f.label Meal.human_attribute_name('name')
      = f.text_field :name
  .row
    .medium-6.column
      = f.radio_button :course, :first_course
      = f.label Meal.human_attribute_name('first_course')
      = f.radio_button :course, :main_course
      = f.label Meal.human_attribute_name('main_course')
      = f.radio_button :course, :beverage
      = f.label Meal.human_attribute_name('beverage')
  .row
    .medium-6.column
      = f.label MenuItem.human_attribute_name('price')
      = f.number_field :price
  .row
    .medium-6.column
      = f.submit class: 'button expand'

