%h3= t('views.meals.add')
= form_for [menu, meal] do |f|
  %p
    = f.label Meal.human_attribute_name('name')
    %br
    = f.text_field :name

  %p
    = f.radio_button :course, :first_course
    = f.label Meal.human_attribute_name('first_course')
    = f.radio_button :course, :main_course
    = f.label Meal.human_attribute_name('main_course')
    = f.radio_button :course, :beverage
    = f.label Meal.human_attribute_name('beverage')

  %p
    = f.label MenuItem.human_attribute_name('price')
    %br
    = f.number_field :price

  %p
    = f.submit
