%h3= "#{t :add_meals_to_menu}"
= form_for [menu, meal] do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.radio_button :course, :first_course
    = f.label :first_course, "First Course"
    = f.radio_button :course, :main_course
    = f.label :main_course, "Main Course"
    = f.radio_button :course, :beverage
    = f.label :beverage, "Beverage"

  %p
    = f.label :price
    %br
    = f.number_field :price

  %p
    = f.submit
